#tab
{
	margin-top: 120px;
	margin-left: 350px;
}

table
{
	border-collapse: collapse;
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 15px;
	border:0px solid #ddd;
	border-radius: 20px;

}
tr
{
	text-decoration: none;
  	text-transform: uppercase;
  	text-shadow: 3px 2px black;
  	font-size: 15px;
	text-align: center;
	height: 80px;
	padding:15px;
}
td
{
	width: 300px;
	margin-right: 0px;
	padding: 15px;
}
tr:hover
{
	background: rgba(0,0,0,0.2);
}
tr:nth-child(even)
{
	background: rgba(0,0,0,0.5);
}